@model MedelLibrary.ViewModels.AssetCatalogVM
@{
    ViewBag.Title = "Search Results";
}


<div class="col-md-12">
    <h3 class="text-center text-primary">Search Results</h3>
    <partial name="_AssetCatalog" model="@Model">
</div>